# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:<b>
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List some open source tools used in data science
* Review some examples of evaluating arithmetic expressions in Python

<b> Some of the popular languages that Data Scientists use are: <b>
1. Python
2. R
3. Julia

<b> Some of the commonly used libraries used by Data Scientists include: <b>
1. Matplotlib library for visualization
2. Pandas for scientifics computing
3. Scikit-learn for machine learning

|Data Science Tools|
|:-|
|Jupyter notebook|
|Google Colab|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Tareq Asaad